html {
  font-family: "Open Sans", sans-serif;
  background-color: #f2f2f2;
}

form {
  color: #000;
  background-color: #fff;
  padding: 1rem;
}

fieldset {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  padding: 0;
}

h1 {
  border-bottom: 1px solid black;
}

@media only screen and (min-width: 60em) {

  .space-right {
    padding-right: .5rem;
  }

}
